{
	"tabWidth": 4,
	"semi": false,
	"useTabs": true,
	"singleQuote": false,
	"arrowParens": "always",
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss",
		"prettier-plugin-organize-attributes"
	],
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/controllers/(.*)$",
		"^@/routers/(.*)$",
		"^@/util/(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
